{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <title>Registro</title>
  </head>
  <body>
    <div class="container">
      <form id="form" class="form" method="POST">
        {% csrf_token %}
        <h2>Registrate</h2>
        <div class="form-control" >
          <label>Nombre de Usuario</label>
          <div {% if form.username.errors %} style="border: 2px solid red;border-radius: 4px;"{% endif %}>{{ form.username }}</div>
          <div style="font-size:12px;color:red;">{{ form.username.errors }}</div>
        </div>
        <div class="form-control">
          <label>Correo</label>
          <div {% if form.email.errors %} style="border: 2px solid red;border-radius: 4px;"{% endif %}>{{ form.email }}</div>
          <div style="font-size:12px;color:red;">{{ form.email.errors }}</div>
        </div>
        <div class="form-control">
          <label>Contraseña</label>
          <div {% if form.password1.errors %} style="border: 2px solid red;border-radius: 4px;"{% endif %}>{{ form.password1 }}</div>
          <div style="font-size:12px;color:red;">{{ form.password1.errors }}</div>
        </div>
        <div class="form-control">
          <label>Repita contraseña</label>
          <div {% if form.password2.errors %} style="border: 2px solid red;border-radius: 4px;"{% endif %}>{{ form.password2 }}</div>
          <div style="font-size:12px;color:red;">{{ form.password2.errors }}</div>
        </div>
        <input id="button" type="submit" value="Submit" />
        <p>Ya tienes una cuenta??  <a href="/" style="color:#3498db;">Ingresa aqui</a></p>
      </form>
    </div>
  </body>
</html>