{% extends "base.html" %}

{% block titulo%} Crear Nuevo Usuario {% endblock %}

{% block contenido%} 

<div class="card">
    <div class="card-header">
        Contactanos
    </div>

  <div class="card-body">
    <h4 class="card-title"></h4>
    {% include 'PetStore/Contacto/form_contacto.html' %}
  </div>

  <div class="card-footer text-muted">

  </div>
  
</div>

{% endblock %}