{% extends "base.html" %}

{% block titulo%} Editar Contacto {% endblock %}

{% block contenido%} 

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Editar Información del Contacto
    </div>

  <div class="card-body">
    <h4 class="card-title">Datos del contacto</h4>
    {% include 'PetStore/Contacto/form_contacto.html' %}
  </div>

  <div class="card-footer text-muted">

  </div>
  
</div>

{% endblock %}