<form  enctype="multipart/form-data"  method="post">
    {% csrf_token %}
    {% for campo in formulario_contacto %}
        <div class="mb-3">
            <label for="" class="form-label">{{ campo.label}}:</label>
            <input 
            type="{{ campo.field.widget.input_type}} " 
            class="form-control" 
            name="{{ campo.name}}"
            id="" 
            aria-describedby="helpId" 
            placeholder="{{ campo.label}}"
            value="{{ campo.value | default:'' }}"
            >
        </div>
    
        <div class="col-12 help-text">{{ campo.errors}}</div>
     {% endfor %}  
    
        <input name="" class="btn btn-success" type="submit" value="Enviar">
        <a class="btn btn-primary" href="{% url 'inicio' %}">Cancelar</a>
        
    </form>
    