{% extends "base.html" %}

{% block titulo%} Mantenedor de Contactos {% endblock %}

{% block contenido%} 

<div class="card text-center">
	<div class="card-header">
        <h3>Mantenedor de Contactos</h3>		
	</div>
	<div class="card-body">
		<h4 class="card-title">Contactos Realizados</h4>
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">Nombres</th>
			  <th scope="col">Apellido Paterno</th>
			  <th scope="col">Apellido Materno</th>
			  <th scope="col">Email</th>
              <th scope="col">Mensaje</th>
			</tr>
		  </thead>
		  <tbody>
				{% for contacto in contacto %}
				<tr>
					<td>{{contacto.id}}</td>
					<td>{{contacto.nombres}}</td>
					<td>{{contacto.apellidoPaterno}}</td>
					<td>{{contacto.apellidoMaterno}}</td>
					<td>{{contacto.email}}</td>
                    <td>{{contacto.mensaje}}</td>
					<td>
						<a class="btn btn-warning" href="{% url 'editar_contacto' contacto.id %}">Mostrar</a>
						<a class="btn btn-danger" href="{% url 'eliminar_contacto' contacto.id %}">Eliminar</a>
					</td>
				</tr>
				{% endfor %}
		  </tbody>
		</table>

	</div>
</div>

{% endblock %}