{% extends "base.html" %}

{% block titulo%} Crear Nuevo Producto {% endblock %}

{% block contenido%} 

<div class="card">
    <div class="card-header">
        Crear Nuevo Producto
    </div>

  <div class="card-body">
    <h4 class="card-title">Datos del Producto</h4>
    {% include 'PetStore/Productos/form_productos.html' %}
  </div>

  <div class="card-footer text-muted">

  </div>
  
</div>

{% endblock %}