{% extends "base.html" %}

{% block titulo%} Editar Usuario {% endblock %}

{% block contenido%} 

<div class="card">
    <div class="card-header">
        Editar Información del producto
    </div>

  <div class="card-body">
    <h4 class="card-title">Datos del producto</h4>
    {% include 'PetStore/Productos/form_productos.html' %}
  </div>

  <div class="card-footer text-muted">

  </div>
  
</div>

{% endblock %}