<form  enctype="multipart/form-data"  method="post">
    {% csrf_token %}
    {% for campo_producto in formulario_producto %}
        <div class="mb-3">
            <label for="" class="form-label">{{ campo_producto.label}}:</label>

            {% if campo_producto.field.widget.input_type  == 'file' and campo_producto.value %}
            <br>
            <img src="{{MEDIA_URL}}/imagenes/{{campo_producto.value}}" width="100" alt="" srcset="">
            {% endif %}
            <br>
            <input 
            type="{{ campo_producto.field.widget.input_type }}" 
            class="form-control" 
            name="{{ campo_producto.name }}"
            id="" 
            aria-describedby="helpId" 
            placeholder="{{ campo_producto.label }}"
            value="{{ campo_producto.value | default:'' }}">
        </div>
    
        <div class="col-12 help-text">{{ campo_producto.errors}}</div>
     {% endfor %}  
    
        <input name="" class="btn btn-success" type="submit" value="Enviar">
        <a class="btn btn-primary" href="{% url 'Productos' %}">Cancelar</a>
        
    </form>