{% extends "base.html" %}

{% block titulo%} Mantenedor de Productos {% endblock %}

{% block contenido%} 

<div class="card text-center">
	<div class="card-header">
		<a name="" id="" class="btn btn-success" href="{% url 'crear_producto' %}" role="button">Agregar nuevo producto</a>
	</div>
	<div class="card-body">
		<h4 class="card-title">Productos en Bodega</h4>
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">Nombre Producto</th>
			  <th scope="col">Categoria</th>
			  <th scope="col">Descripcion</th>
			  <th scope="col">Precio</th>
			  <th scope="col">Stock</th>
			  <th scope="col">Imagen</th>
			</tr>
		  </thead>
		  <tbody>
				{% for producto in producto %}
				<tr>
					<td>{{ producto.id }}</td>
                    <td>{{ producto.titulo }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>
                        <img src="{{ producto.imagen.url }}" height="100" />
                    </td>
					<td>
						<a class="btn btn-warning" href="{% url 'editar_producto' producto.id %}">Editar</a>
						<a class="btn btn-danger" href="{% url 'eliminar_producto' producto.id %}">Eliminar</a>
					</td>
				</tr>
				{% endfor %}
		  </tbody>
		</table>

	</div>
</div>

{% endblock %}