{% extends "base.html" %}

{% block titulo%} Editar Usuario {% endblock %}

{% block contenido%} 

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Editar Información del Usuario
    </div>

  <div class="card-body">
    <h4 class="card-title">Datos del usuario</h4>
    {% include 'PetStore/form.html' %}
  </div>

  <div class="card-footer text-muted">

  </div>
  
</div>

{% endblock %}