{% extends "base.html" %}

{% block titulo%} Mantenedor de usuarios {% endblock %}

{% block contenido%} 

<div class="card text-center">
	<div class="card-header">
		<a name="" id="" class="btn btn-success" href="{% url 'crear_usuario' %}" role="button">Agregar nuevo usuario</a>
		
	</div>
	<div class="card-body">
		<h4 class="card-title">Usuarios Registrados</h4>
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">Nombres</th>
			  <th scope="col">Apellido Paterno</th>
			  <th scope="col">Apellido Materno</th>
			  <th scope="col">Nacionalidad</th>
			  <th scope="col">Email</th>
			  <th scope="col">DNI</th>
			</tr>
		  </thead>
		  <tbody>
				{% for usuario in usuario %}
				<tr>
					<td>{{usuario.id}}</td>
					<td>{{usuario.nombres}}</td>
					<td>{{usuario.apellidoPaterno}}</td>
					<td>{{usuario.apellidoMaterno}}</td>
					<td>{{usuario.nacionalidad}}</td>
					<td>{{usuario.email}}</td>
					<td>{{usuario.rut}}-{{usuario.dv}}</td>
					<td>
						<a class="btn btn-warning" href="{% url 'editar_usuario' usuario.id %}">Editar</a>
						<a class="btn btn-danger" href="{% url 'eliminar_usuario' usuario.id %}">Eliminar</a>
					</td>
				</tr>
				{% endfor %}
		  </tbody>
		</table>

	</div>
</div>

{% endblock %}