{% extends "base.html" %}{% load static%}

{% block titulo%} Galeria {% endblock %}

{% block contenido%} 
<div class="row">
    <div class="col-md-4 mb-3">
      <img src=" {% static 'img/BritCare.jpg' %}" alt="" class="img img-thumbnail">
    </div>
    <div class="col-md-4 mb-3">
      <img src=" {% static 'img/Earthborn.jpg' %}" alt="" class="img img-thumbnail">
    </div>
    <div class="col-md-4 mb-3">
      <img src=" {% static 'img/Equilibrio.png' %}" alt="" class="img img-thumbnail">
    </div>
    <div class="col-md-4 mb-3">
      <img src=" {% static 'img/ProPlan.jpg' %}" alt="" class="img img-thumbnail">
    </div>
    <div class="col-md-4 mb-3">
      <img src=" {% static 'img/RoyalCanin.jpg' %}" alt="" class="img img-thumbnail">
    </div>
{% endblock %}