{% extends "base.html" %}{% load static %}

{% block titulo%} Inicio {% endblock %}

{% block contenido%} 

<div class="p-5 bg-ligh">
    <div class="container">
        <h1 class="display-3">Bienvenidos a la tienda RingoPetStore</h1>
        <hr class="my-4">
    </div>
</div>

<div class="row m-0">
    <div class="col-12">
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
       <div class="carousel-indicators">
         <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
         <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       </div>
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img src="{% static 'productos/Imagen1.jpeg' %}" class="carrousel-img" alt="...">
         </div>
         <div class="carousel-item">
           <img src="{% static 'productos/Imagen2.jpeg' %}" class="carrousel-img" alt="...">
         </div>
         <div class="carousel-item">
           <img src="{% static 'productos/Imagen4.jpeg' %}" class="carrousel-img" alt="...">
         </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
       </button>
     </div>
    </div>
</div>
<style>
    .carrousel-img{
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .footer-home{
      color: white;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 90px;
      bottom: 0;
      width: 100%;
    }
  </style>

{% endblock %}